<!-- templates/blog/post_list.html -->
{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <article class="card mb-4">
            <div class="card-body">
                <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                <p class="text-muted">By {{ post.author }} on {{ post.date_posted|date:"F d, Y" }}</p>
                <p>{{ post.content|truncatewords:30 }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock %}