{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body>
    <h1>Login</h1>
    <div>
        <div>
            {% if messages %}
                {% for message in messages %}
                    <div class="px-2 py-1 mb-4 {% if message.tags == 'success' %}bg-green-500 text-white{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>


        {% if form.non_field_error %}
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <button class="bg-blue-400 px-2 py-3 text-white" type="submit">Sign In</button>
        </form>
    </div>
</body>
</html>