<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% comment %} <div>
        {{ tasks }}
    </div> {% endcomment %}


    <div>
        <ol>
            {% for project in projects %}
                <li>
                    <p>{{project.name}}</p>
                    <p>{{project.num_task}}</p>
                </li>
            {% endfor %}
        </ol>
    </div>

    {% comment %} <div>
        <ol>
            {% for task in tasks %}
                <li>{{task.title}}</li>
                <span>{{task.status}}</span>
            {% endfor %}
        </ol>
    </div> {% endcomment %}
{% comment %} 
    <div>
        <span>Third Task: </span> {{ task3 }}
    </div>

    <div>
        <span>First Task: </span> {{ first_task }}
    </div> {% endcomment %}

</body>
</html>