{% extends "base.html" %}
{% block content %}
    <div class="w-1/2 mx-auto mt-8">
        <div>
            {% if messages %}
                {% for message in messages %}
                    <div class="px-2 py-1 mb-4 {% if message.tags == 'success' %}bg-green-500 text-white{% endif %}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        </div>

        <form method="POST">
            {% csrf_token %}
            {{ task_form }}
            {{ task_detail_form }}
            <button type="sumbit" class="bg-rose-600 px-3 py-2 text-white mt-2 rounded-md">Sumbit</button>
        </form>
    </div>
{% endblock content %}